<html>
      <head>
          <link rel="stylesheet" href="style1.css">
          <style>
              .container{
                  margin: 100px;
                  padding:20px;
                  /* display: flex;*/
                  justify-content:space-between; 
                  /* flex-direction: column;  */
                  box-shadow:  2px 1px 1px rgba(0, 0, 0, .2), 0 .5px .5px rgba(0, 0, 0, .2);
              }
              .a{
                margin-bottom:-100px;
                font-size:15px;
                padding:-10px;
                display:flex;
                justify-content:space-between;
              }
              
          </style>
      </head>
      <body>
          <header>
            <div style="display: flex;;">
                <img src="logo.jpg" style="margin-right: 20px;">
                <div style="display: flex; flex-direction: column;">
                <a href="/home" class="heading">  <h1 style="margin-top: 0;">ANIL NEERUKONDA INSTITUTE OF TECHNOLOGY AND SCIENCES</h1></a>
                <h2 style="margin-bottom: 0; color: var(--black); font-size: 18px;" >DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</h2>
                </div>
              </div>
            
              <div>
              <a href="coordinate.html"><button class="btn btn-1">Coordinater Login</button></a>
              <a href="admin.html"><button class="btn btn-1">  Admin Login  </button></a>
              <a href="faculty.html"><button class="btn btn-1">  Faculty Login  </button></a>
              </div>
          </header>
          <!--data-->
          <div class="a container" style="font-size: 25px;">
          <h4 id="date"></h4>  
          <h4 id="day"> ${currentDay}</h4>         
          <h4 id="clock"></h4>
          </div>
          <div class="container table-container">
            <div>
                <table border="1" cellspacing="0" cellpadding="5">
                    <tr>
                        <th>Faculty Name</th>
                        <th>8:40-9:30</th>
                        <th>9:30-10:20</th>
                        <th>10:20-11:10</th>
                        <th>11:10-12:00</th>
                        <th>12:50-1:40</th>
                        <th>1:40-2:30</th>
                        <th>2:30-3:20</th>
                        <th>3:20-4:10</th>
                    </tr>
                    <% var k=0; %>
                    <% while(k < result.length) { %>
                        
                    <tr>
                        <th><%= result[k].faculty %></th>
                        <% for (var i = 1; i <= 8; i++) { %>
                            <% var found = false; %>
                            <% for (var j = 0; j < results.length; j++) { %>
                                <% if (results[j].faculty == result[k].faculty && results[j].hour == i) { %> 
                                    <% if(results[j].year != '' && results[j].subject != '') { %>
                                        <th><%= results[j].subject %> - <%= results[j].year %><%= results[j].section %></th>
                                    <% } else { %>
                                        <th>-</th>
                                    <% } %>
                                    <% found = true; %>
                                    <% break; %>
                                <% } %>
                            <% } %>
                            <% if (!found) { %>
                                <th>-</th>
                            <% } %>
                        <% } %>  
                </tr>
                <% k++; %>
                <% } %>
                    <!-- Add more rows for other faculties -->
                </table>
          </div>
          </div>
          <script>
          setInterval(Digitalclock,1000);
          const date = new Date();
          const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
          const currentDay = days[date.getDay()];
          const d=date.getDate();
          const m=date.getMonth();
          const y=date.getFullYear();
          document.getElementById("day").innerHTML=currentDay;
          document.getElementById("date").innerHTML="Date: "+d+"."+m+"."+y;
          function Digitalclock(){
              var a=new Date();
              var b=":";
              let h=a.getHours();
              let m=a.getMinutes();
              let s=a.getSeconds();
              let t=h+":"+m+":"+s;
              document.getElementById("clock").innerHTML=t;
          }    
          Digitalclock();

          </script>
      </body>
  </html>